.weather-app {
  max-width: 650px;
  padding: 10px;
  border: 1px solid #8d6298;
  border-radius: 10px;
  margin: 30px auto;
  padding: 20px;
  color: #362d38;
}

.title {
  color: #8d6298;
}

#search-form {
  padding: 10px;
}

#searchcity {
  border-color: #8d6298;
}

#searchbutton {
  background-color: #8d6298;
  border-color: #8d6298;
}

#searchbutton:hover {
  background-color: #684870;
  border-color: #684870;
}

#location {
  max-width: 200px;
  display: flex;
  margin: 0 auto;
  background-color: #8d6298;
  border-color: #8d6298;
}

#Location:hover {
  background-color: #684870;
  border-color: #684870;
}

#city {
  font-size: 35px;
}

#date {
  font-size: 20px;
}

#description {
  font-size: 10px;
  text-transform: capitalize;
}
#temp {
  font-size: 40px;
  font-weight: bolder;
}

#celcius {
  font-size: 10px;
}

#faren {
  font-size: 10px;
}

.weather-info {
  list-style-type: none;
  font-size: 12px;
  padding: 0px;
}

.git {
  font-size: 12px;
}
